{% extends 'buy/base.html' %}
{% block extracss %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock  %}

{% block title %}トップページ{% endblock  %}
{% block content %}
<br>
<div class="appname">
  <h2>Purchasing Management System</h2>
</div>
<br>
<nav class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">先月</a>
    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">今月</a>
    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">来月</a>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">商品名</th>
                <th scope="col">購入部署</th>
                <th scope="col">最終購入日</th>
                <th scope="col">平均購入周期</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>test</td>
                <td>test</td>
                <td>test</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>test</td>
                <td>test</td>
                <td>test</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>test</td>
                <td>test</td>
                <td>test</td>

              </tr>
            </tbody>
          </table>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">商品名</th>
                <th scope="col">購入部署</th>
                <th scope="col">最終購入日</th>
                <th scope="col">平均購入周期</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>test</td>
                <td>test</td>
                <td>test</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>test</td>
                <td>test</td>
                <td>test</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>test</td>
                <td>test</td>
                <td>test</td>

              </tr>
            </tbody>
          </table>
    </div>
    <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">商品名</th>
                <th scope="col">購入部署</th>
                <th scope="col">最終購入日</th>
                <th scope="col">平均購入周期</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>test</td>
                <td>test</td>
                <td>test</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>test</td>
                <td>test</td>
                <td>test</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>test</td>
                <td>test</td>
                <td>test</td>

              </tr>
            </tbody>
          </table>
    </div>
    
</div>
{% endblock  %}