{% extends 'buy/base.html' %}
{% block title %}部署マスタ{% endblock  %}
{% block extracss %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/dept.css' %}">
{% endblock  %}
{% block header %}
<button type="button" class="btn btn-outline-primary">追加</button>
<button type="button" class="btn btn-outline-info">編集</button>
{% endblock  %}
{% block content %}
<br>
<div class="appname">
    <h2>Dept Master</h2>
</div>
<br>

<div class="dept-list">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">部署名</th>
            <th scope="col">備考</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
        </tbody>
      </table>
</div>
    
{% endblock  %}