.appname-position {
    display: flex;
    justify-content: center;
}
.appname {
    font-family: "Courier New";
    color: black;
    margin: 20px 0px 20px;
    text-shadow: 1px 2px 3px black;
}

.btn {
    margin-right: 10px;
}

.position{   
    min-width: 70px;
}

.dept-list{
    scrollbar-width: none; /*Firefox対応のスクロールバー非表示コード*/  
    -ms-overflow-style: none;/*Internet Explore対応のスクロールバー非表示コード*/   
    text-align: center;
    overflow-y: scroll;
    height: 330px;
}

.dept-list::-webkit-scrollbar {  
    display: none; /*Google Chrome、Safari、Microsoft Edge対応のスクロールバー非表示コード*/
  }

.button-position{
    width: 50px;
}

th{
    position: sticky;
    top: 0;
    
}

